:root {
  --bg-color: #2e3440;
  --card-color: #2e3440cc;
  --font-color: #eceff4;
  --gradient-start: #5e81ac;
  --gradient-end: #88c0d0;
  --font-size-small: clamp(15px, 1.5vw, 1.5rem); /* for links and date */
  --font-size-medium: clamp(20px, 2vw, 2rem); /* for the headings */
  --font-size-large: clamp(40px, 4vw, 4rem); /* for the time */
  --font-size-hovered: clamp(16px, 1.6vw, 1.6rem); /* hovering over links */
}

/* Adding some transitions */
* {
  transition: all 0.3s ease !important;
  box-sizing: border-box;
}

/*  removing the default formatting */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* background image/svg */
body {
  background: url("imgs/background.svg") no-repeat left center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--font-color) !important; /* Snow Storm light text */
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* logo adjustments */
.logo-container {
  width: 20vw;
  min-width: 200px;
}

.logo {
  width: 100%;
  height: 100%;
}

/* the cards */
.greeting-card,
.links-card {
  width: 22.5vw;
  height: 22.5vw;
  min-width: 225px;
  min-height: 225px;
  background-color: var(--card-color);
  border-radius: 24px;
  box-shadow: 0px 4px 4px #00000033;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-card {
  justify-content: start;
}

/* typography */
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: var(--font-size-medium);
}

.quick-access {
  border-bottom: var(--border-color) 4px solid;
  margin: 1.5vw;
}

#time {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-large);
  background-image: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

li,
#date {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-size-small);
}

#date {
  opacity: 0.5;
}

a {
  color: var(--font-color);
  opacity: 0.5;
  font-size: var(--font-size-small);
}

a:hover {
  opacity: 1;
  font-size: var(--font-size-hovered);
}

/* fixing the weird link bug thing */
.links {
  width: 6.2vw;
  min-height: 62px;
}
